<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
</head>
<body>

    <h1>Library Management System</h1>

    <p>Welcome to the Library Project built with Flask and PostgreSQL.</p>

    <hr>

    <h2>Navigation</h2>

    <ul>
        <li>
            <a href="/members">View All Members</a>
        </li>

        <li>
            <a href="/books">View All Books</a>
        </li>
    </ul>

    <hr>

    <p>Project by Mason Rakita</p>

</body>
</html>